doctype html
html
  head
    meta(charset!="<?php bloginfo('charset'); ?>")
    meta(name="viewport" content="width=device-width")

    title 
      - wp_title('');
      
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/stylesheets/styles.css")

    - // wordpress head functions
    - wp_head();
    
  | <body <?php body_class(); ?>>
  - include 'components/menu.php' 
